@use "../util/" as util;
@use "../functions/" as f;

.person {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.75rem;
  margin-bottom: 1.5rem;
  align-items: center;

  img {
    width: f.rem(75);
    height: f.rem(75);
    object-fit: cover;
    border-radius: 50%;
    box-shadow: util.$light-shadow;
  }

  h4 {
    margin-bottom: f.rem(5.6);
  }

  p {
    margin-bottom: 0;
  }
}
