/* 
====== 
Navbar
======
*/

.navbar {
  background: var(--mainWhite);
  display: flex;
  align-items: center;
  border-bottom: 2px solid var(--primaryColor);
  box-shadow: var(--lightShadow);
  height: 5rem;

  .nav-center {
    display: flex;
    justify-content: space-between;
    width: 85vw;
    margin: 0 auto;
    max-width: var(--fullWidth);

    .nav-links {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      a {
        text-transform: capitalize;
        display: inline-block;
        font-weight: bold;
        letter-spacing: 2px;
        transition: color 0.3s linear;
        font-size: 1.2rem;
        &:hover {
          color: var(--primaryColor);
        }
      }
    }
  }

  .logo {
    width: 12rem;
  }
}
