@use "../util/" as util;
@use '../functions/' as f;

ul {
  list-style-type: none;
}
a,
a:visited,
a:active {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: util.$spacing;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: f.rem(12);

  @include util.breakpoint(medium) {
    line-height: 1;
  }
}

h1 {
  font-size: clamp(3rem, 2rem + 4vw, 4rem);
}
h2 {
  font-size: clamp(2rem, 1.5rem + 2vw, 2.5rem);
}
h3 {
  font-size: clamp(
    1.25rem,
    0.75rem + 2vw,
    1.75rem
  ); // 20px, 12px + 2vw, 28px tela de 800px
}
h4 {
  font-size: clamp(14px, 4px + 1.5vw, 16px); // 14px, calc , 16px // 0.875rem, 1rem
}
p {
  margin-bottom: 1.25rem;
  color: util.$clr-grey-5;
}
