@use "../util/" as util;
@use "../functions/" as f;

.container {
  width: 90vw;
  margin: f.rem(80) 0;
  max-width: util.$fixed-width;
  background: util.$clr-white;
  border-radius: util.$radius;
  padding: f.rem(24) f.rem(32); // f.rem()
  box-shadow: util.$dark-shadow;

  h3 {
    font-weight: normal;
    text-transform: none;
    margin-bottom: f.rem(32);
  }

  &__btn {
    color: util.$clr-white;
    display: block;
    width: 100%;
    border-color: transparent;
    background: util.$clr-pink;
    margin: f.rem(32) auto 0 auto;
    text-transform: capitalize;
    font-size: f.rem(19.2);
    padding: f.rem(8) 0;
    letter-spacing: util.$spacing;
    border-radius: util.$radius;
    outline: 1px solid rgba(242, 138, 178, 0.8);
    cursor: pointer;
  }
}
