@use "../util/" as util;

.title {
  text-align: center;
  margin-bottom: 4rem;

  &__underline {
    width: 6rem;
    height: 0.25rem;
    background: util.$clr-primary-5;
    margin-left: auto;
    margin-right: auto;
  }

  &__btn {
    background: util.$clr-primary-5;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: util.$radius;
    text-transform: capitalize;
    color: util.$clr-white;
    letter-spacing: util.$spacing;
    border-color: transparent;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
}
