@use "../util/" as util;

.single-tour {
  background: util.$clr-white;
  border-radius: util.$radius;
  margin: 2rem 0;
  box-shadow: util.$light-shadow;
  transition: util.$transition;

  &:hover {
    box-shadow: util.$dark-shadow;
  }

  img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: util.$radius;
    border-top-left-radius: util.$radius;
  }

  &__tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h4 {
      margin-bottom: 0;
    }
  }

  &__tour-price {
    color: util.$clr-primary-5;
    background: util.$clr-primary-10;
    padding: 0.25rem 0.5rem;
    border-radius: util.$radius;
  }

  footer {
    padding: 1.5rem 2rem;
  }

  &__delete-btn {
    display: block;
    width: 200px;
    margin: 1rem auto 0 auto;
    color: util.$clr-red-dark;
    letter-spacing: util.$spacing;
    background: transparent;
    border: 1px solid util.$clr-red-dark;
    padding: 0.25rem 0.5rem;
    border-radius: util.$radius;
  }
}
